.expanded-img {
    max-width: 80%;
    max-height: 80%;
    display: block;
    margin: auto;
    margin-bottom: 5px;
}

.close-button {
    margin-bottom: 5px; 
    display: block;
    border-radius: 4px; 
    border: 0.5px solid black; 
    color: black; 
    cursor: pointer;
    width: 100px; 
    font-size: 12px; 
    text-decoration: none; 
    display: inline-block; 
}

.close-button:hover {
    background-color: rgb(92, 92, 92); 
    color: white; 
}
.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 700ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}

.modal {
    text-align: center; 
}