body, html {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;

}

.logo-dots {
  margin-top: -10px;
  width: 50px; 
  height: 50px; 
}
.app-root {
  text-align: center;
}

.app-header {
  margin-top: 2vw; 
  padding: 1.5vw;
  color: white;
  font-size: 4vw;
}
.app-title {
  margin-bottom: 0.7vw; 
}
.app-sub-tag {
  font-size: 1.7vw;
  margin: 0px; 
}

.app-input {
  line-height: 4.5vw;
  border: 1px solid #ccc;
  border-radius: 0.6vw;
  font-size: 2.2vw;
  padding: 0 1vw;
  color: #666;
  width: 63vw;
  margin-bottom: 2vw;
}

.enter-name-form {
  border: 1px solid black; 
  margin: 100px; 
  padding: 20px; 
  border-radius: 4px; 
}


.name-input {
  border-radius: 4px; 
  padding: 3px; 
  border: 0.5px solid gray; 
  margin: 8px 3px 8px 3px; 
}

.submit-button {
  color: black; 
  padding: 5px; 
  border-radius: 5px;
  border: 1px; 
  box-shadow: 0px -1px 1px rgba(0,0,0,0.08), 1px 0px 1px rgba(0,0,0,0.08), -1px 0px 1px rgba(0,0,0,0.08), 0px 1px 1px rgba(0,0,0,0.08);
  width: 140.5px;
  margin-top: 5px; 
  margin-bottom: 5px; 
  cursor: pointer;
}

.submit-button:hover {
  box-shadow: 0px 4px 6px rgba(0,0,0,0.15), 4px 4px 2px rgba(0,0,0,0.15)
}

.card {
  border: none; 
  width: 22vw; 
  height: 19vw;
  margin: 1vw;
  border-radius: 4px; 
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0px 4px 6px rgba(12, 12, 12, 0.15), 4px 4px 2px rgba(0,0,0,0.15);
  background-color: rgba(0,0,0,.2);
  transition: all 300ms ease;
  cursor: pointer; 
}

.card-title {
    border-radius: 5px;
    max-width: 80%;
    padding: 1.9vw 1.6vw;
    color: #fff;
    font-size: 2.3vw;
    text-shadow: 0 0 0.1vw rgba(0,0,0,.3);
    font-weight: 900;
    letter-spacing: .05em;
}

.cards {
  display: inline-flex; 
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
