body, html {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;

}

.app-root {
  text-align: center;
}

.app-header {
  background-color: #222;
  padding: 10px;
  color: white;
  font-size: 20pt;
}

.app-sub-tag {
  font-size: 14px;
  margin: 0px; 
}

.app-input {
  line-height: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  padding: 0 8px;
  color: #666;
  width: 400px;
  margin-bottom: 30px;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
