.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    width: -webkit-fill-available;
  }
  
  .left-header {
    display: inline-flex;
  }
  
  .logo-image {
    width: 100px; 
    margin-left: 5px; 
  }
  
  .name-nav-bar {
    font-size: 12px; 
    margin-right: 20px; 
  }

  .link-button {
      border: none;
      background-color: none !important; 
      margin-right: 5px; 
      color: black; 
      margin-top: 15px;
      font-size: 12px; 
      font-weight: bold; 
  }