.nav-bar {
    position: fixed;
    top: 0;
    display: flex;
    background-color: white; 
    align-items: center;
    justify-content: space-between;
    height: 45px;
    width: -webkit-fill-available;
    z-index: 9999;
  }

  .left-header {
    display: inline-flex;
  }
  
  .logo-image {
    width: 100px; 
    margin-left: 5px; 
  }
  
  .name-nav-bar {
    font-size: 12px; 
    margin-right: 20px; 
    color: black; 
  }

  .link-button {
      border: none;
      background-color: none !important; 
      margin-right: 5px; 
      color: black; 
      margin-top: 17px;
      font-size: 10px; 
      font-weight: bold; 
  }

  .search {
    margin-right: 10px; 
  }

  @keyframes example {
    0%   {color:black; left:0px; top:0px;}
    25%  {color:#1463DC; left:200px; top:0px;}
    50%  {color:#FF1684; left:200px; top:200px;}
    75%  {color:#1463DC; left:0px; top:200px;}
    100% {color: black; left:0px; top:0px;}
  }
  
  .join-flickr {
    animation-name: example;
    animation-duration: 4s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }