.gallery-root {
  text-align: center;
}

.gallery-header {
  background-color: #222;
  padding: 10px;
  color: white;
  font-size: 20pt;
}

.gallery-intro {
  font-size: 15pt;
}

.displaying-label {
  font-size: 2vw; 
  font-weight: bolder; 
  color: #1052AA;
  display: flex; 
  margin-top: 1.5vw;
}

.grid {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

.grid-item {
  flex: 0 0 25%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  box-sizing: border-box;
  :before {
    content: "";
    display: table;
    padding-top: 100%;
  }
}