.gallery-root {
  text-align: center;
}

.gallery-header {
  background-color: #222;
  padding: 10px;
  color: white;
  font-size: 20pt;
}

.gallery-intro {
  font-size: 15pt;
}

.displaying-label {
  font-size: 12px; 
  font-weight: bolder; 
  color: #1052AA;
  display: flex; 
  margin-top: 10px
}