.app-header {
    padding: 1.5vw;
    color: white;
    font-size: 4vw;
}

.app-title {
    margin-bottom: 0.7vw; 
    padding-top: 1.2vw;
}

.app-sub-tag {
    font-size: 1.7vw;
    margin: 0px; 
}

.app-input {
    line-height: 4.5vw;
    border: 1px solid #ccc;
    border-radius: 0.6vw;
    font-size: 2.2vw;
    padding: 0 1vw;
    color: #666;
    width: 63vw;
    margin-bottom: 2vw;
}

.logo-dots {
    margin-top: -2vw;
    width: 8vw; 
    height: 8vw; 
}